.news-feed-div{
  border-radius: 4px;
  background-color: #FFFFFF;
  border-width: 2px;
  height: 350px;
  width: 285px;
  margin-bottom: 10px;
  /* margin-right: 20px; */
}

.news-feed-tags{
  padding-left: 16px;
  float: left;
  padding-top: 16px;
  width: inherit;
}


.news-feed-tag{
  background-color: #FFD87B;
  border-radius: 2px;
  font-family: 'Russo one';
  font-size: 10px;
  /* line-height: 12px; */
  color: #000000;
  margin-right: 4px;
  /* float: left; */
  height: 16px;
  padding: 2px 4px 4px 4px;
  display: inline-block;
  /* margin-top: 16px; */
}

.background-image{

}


.news-feed-title{
  overflow: hidden;
  padding: 20px 16px 16px 16px;
}

.news-feed-link{
  font-family: 'Karla';
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.news-feed-description{
  font-family: 'Karla';
  font-size: 12px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  padding: 2px 16px 16px 16px;
  overflow: scroll;
  height: 85px;
}

.news-feed-bottom{
  position: absolute;
  bottom: 0;
  display: inline-flex;
  padding: 10px 16px 16px 16px;
  width: inherit;
  margin-left: 0px;
  margin-right: 0px;
}

.news-feed-source{
  font-family: 'Karla';
  font-size: 12px;
  line-height: 17px;
  padding-left: 7px;
  color: #000000;
}

.news-feed-logo{
  width: 18px;
  height: 16px;
  object-fit: cover;
}

.news-feed-pub-time{
  font-family: 'Karla';
  font-size: 12px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  float: right;
  padding-right: 0px;
}

/* .news-feed-tags{
  margin-left: 15px;
} */
