.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.landing-content-header{
  font-size: 48px;
  font-family: Karla;
  color: #000000;
  /* padding-left: 84px; */
  padding-top: 227px;
  width: inherit;
}

.landing-image{
  padding-top: 168px;
}

.landing-download-button{
  background-color: #655A98;
  color: #FFFFFF;
  font-family: Karla;
  display: flex;
  text-align: center;
  font-size: 24px;
  padding: 10px 10px 2px 10px;
  border: 1px solid #645997;
  border-radius: 4px;
  cursor: pointer;

  /* padding-left: 84px; */
}
.download-button-content{
  padding-left: 15px;
}
.landing-preview{
  color: #645997;
  font-size: 24px;
  font-family: Karla;
  padding-top: 20px;
}

.landing-content{
  color: #000000;
  font-size: 24px;
  font-family: Karla;
  /* padding-left: 84px; */
}

.landing-navbar{
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.landing-navbar-brand{
  padding-top: 10px;
  /* padding-top: 30px; */
  /* padding-left: 30px;
  width: inherit; */
  /* display: inline; */
}

.sign-up-button{
  /* padding-right: 30px; */
  color:  #645997;
  background-color: transparent;
  border: 1px solid #645997;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 12px 10px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.landing-navbar-links{
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #645997;
  padding-right: 30px;
  font-family: Karla;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 1420px) {
    .container.container-custom {
        width: 1390px;
    }
}
