.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.landing-content-header{
  font-size: 48px;
  font-family: 'Russo one';
  color: #000000;
  padding-left: 84px;
  padding-top: 152px;
}

.landing-image{
  padding-top: 93px;
  float:right;
  /* padding-left: 50px; */
}

.landing-download-button{
  background-color: #655A98;
  color: #FFFFFF;
  font-family: Karla;
  display: flex;
  text-align: center;
  font-size: 24px;
  padding: 16px 16px 18px 17px;
  border: 1px solid #645997;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 84px;

  /* padding-left: 84px; */
}
.download-button-content{
  padding-left: 15px;
}
.landing-preview{
  color: #645997;
  font-size: 24px;
  font-family: Karla;
  /* padding-top: 20px; */

}

.landing-content{
  color: #000000;
  font-size: 24px;
  font-family: Karla;
  padding-left: 84px;
}

.landing-navbar{
  padding-top: 22px;
  /* padding-bottom: 5px; */
  padding-left: 24px;
  padding-right: 15px;
  background-color: transparent;
  background-image: none;
  border-width: 0px;
  box-shadow: none;

}

.landing-navbar-brand{
  padding-top: 10px;
  /* padding-top: 30px; */
  /* padding-left: 30px;
  width: inherit; */
  /* display: inline; */
}

.sign-up-button{
  /* padding-right: 30px; */
  color:  #645997;
  background-color: transparent;
  border: 1px solid #645997;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 12px 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.landing-navbar-links{
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #645997;
  padding-right: 30px;
  font-family: Karla;
}

.all-coins-div{
  padding-top: 40px;
  padding-left: 60px;
  background-color: #F7F7F7;
  margin-top: 15px;
}

.contact-us-div{
  padding-top: 130px;
  width: 700px;
  margin: auto;
text-align: center;
}

.contact-us-text{
  font-size: 20px;
  font-family: 'Karla';
  color: #645997;
}

.contact-us-header{
  font-size: 45px;
  font-family: 'Russo one';
  color: #645997;

}

.contact-us-email{
  font-size: 20px;
  font-family: 'Karla';
  color: #645997;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 1420px) {
    .container.container-custom {
        width: inherit;
        /* padding-left: 50px; */
    }
}
